.card{
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 960px;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    background-color: black;
    border-radius: 10px;
    transition: transform 0.3s ease;
    justify-content: center;
    gap: 50px;
}

.card:hover{
    transform: translateY(-5px);
}

.status {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
}

.content{
    color: #666;
}
.success {
  background-color: #d4edda;
  color: #155724;
}

.warning {
  background-color: #fff3cd;
  color: #856404;
}

.error {
  background-color: #f8d7da;
  color: #721c24;
}
